/* main theme */

body {
    margin-top: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: maroon;
    text-align: center;
    /* background-color: #0dcaf0; */
    background-image: url(/static/css/Images/Background.jpg); 
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
  
}

/* navigation bar */

.navbar-light .navbar-brand {
    color:maroon;
    
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: maroon;
}

.navbar-light .navbar-nav .nav-link {
    color: maroon;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}

.btn-outline-success {
    color: maroon;
    border-color:maroon;
}

.offcanvas-body {
    background-color: hsla(0, 1%, 54%, 0.37);
}

/* login page */

.row {
    justify-content: center;
}

/* User_Homepage page */

.btn btn-primary {

    margin-top: auto;
}

.offcanvas-title {
    font-weight: bold;
}
/* all entries page */

.container {

    background-color: hsla(0, 1%, 54%, 0.37);
    height: 600px;
    width: 500px;
    text-align: left;
    border-style: solid;
    border-width: solid;
    border-top: solid;
    
}

#images {
    display: block;
    border: 3px solid;
    margin-left: auto;
    margin-right: auto;
}

