/* main theme */

body {
    margin-top: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: maroon;
    text-align: center;
    /* background-color: #0dcaf0; */
    background-image: url(/static/css/Images/Background.jpg); 
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
  
}

/* navigation bar */

.navbar-light .navbar-brand {
    color:maroon;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: maroon;
}

.navbar-light .navbar-nav .nav-link {
    color: maroon;
}

.btn-outline-success {
    color: maroon;
    border-color:maroon;
}

/* login page */

.row {
    justify-content: center;
}

/* User_Homepage page */

/* all entries page */

