{% extends 'base.html' %}
{% block title %}All Entries{% endblock %}

{% block body %}


{% for entry in user_entries %}

<div>
    Date: {{ entry.date_created }} <br>
    
    <ul>
    Entry: {{ entry.entry_text }} <br>
    Weather: {{ entry.weather }}<br>
    Location: {{ entry.latitude }} , {{ entry. longitude }}<br>

    {% for media in entry.medias %}

        Date: {{ entry.date_created }} <br>
        
            Image: <img src = '{{media.image_url}}'/><br>
            Media Title: {{media.title}}<br>
            Media Description: {{media.description}}<br>

    {% endfor %}

    </ul>

</div>

{% endfor %}


{% endblock body %}