{% extends 'base.html' %}
{% block title %}All Entries{% endblock %}

{% block body %}

<h1> Date Created: {{ date_created }} </h1>
<h1> Entry: {{ entry_text }} </h1>
<h1> Weather: {{ weather }} </h1>
<h1> Latitude Point: {{ latitude }} </h1>
<h1> Longitude Point: {{ longitude }} </h1>


{% for entry in user_entries %}

    <div>

    {{ entry.date_created }}

    <ul>
    {{ entry.entry_text }}
    {{ entry.weather }}
    {{ entry.latitude }}
    {{ entry. longitude }}
    <ul>

    </div>

{% endfor %}


{% endblock body %}