<!DOCTYPE html>
<html>
<head>
  <title>{% block title %} DocInpsect {% endblock %}</title>
  <link rel="stylesheet" href="/static/css/style.css">

  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

  

</head>
<body>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {{ messages }}
  {% endif %}
  {%endwith %}

  {% block body %} {% endblock %}

  {% block script %} {% endblock %}
</body>

</html>
