{% extends 'base.html' %}

{% block nav %} {% endblock %}

{% block body %} 

<body>

      <h1 id="header-title">Welcome To DocInspect</h1>
      <div id="user-form">
      </head>
        <h1 id="create-account">Don't have an account? Create A New Account Here!</h1>
          <form id='registation-box' action="/users" method="POST">
          <label>Username: <input type="text" name="username"></label><br>
          <label>Password: <input type="text" name="password"></label><br>
          <input type="submit">
        </form>
        <h1>Log In</h1>
          <form action="/login">
              <label>Username:<input type="text" name="login-username"></label><br>
              <label>Password:<input type="text" name="login-password"></label><br>
              <input type="submit">
              <br>
          </form>
      </div>
    
</body>

{% endblock %}


