{% extends 'base.html' %}

{% block body %}

    <h1>Welcome User!</h1>
  <body>
    <!-- <form>
      <label>Search <input type="text"></label><br>
      <label>Date <input type="text" name='date'></label><br>
    </form> -->

    <form action='/add-entry', method="POST">
      <div>
        <label>Date <input type="date" id='date' name='date'></label><br>
        <label>Add an Entry
          <input type="textarea" id= 'entry' name='entry'><br>
        </label>
        <label>Click me for Current Forecast</label>
          <input type='text' id='weather' name='weather'><br>
          <button id='location'>Location</button>
          <input type='text' id='longitude' name='longitude'>
          <input type='text' id='latitude' name='latitude'><br>
        <label>IMG/Video Upload</label><br>
          <input type='text' id='media' name='media'>
        <input type="submit" id='button'>
      </div>
    </form>
    
    
{% endblock %}

{% block script%}

<script src="/static/JS/geolocation_api.js"></script>
<script src="/static/JS/weather_api.js"></script>
<script src="/static/JS/user_homepage.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->

{% endblock %}